body {
    font-family: 'Lato';
    background: #F1F3FA;
}

.fa-btn {
    margin-right: 6px;
}

.padding-fixed-header {
    padding: 30px;
}

.padding-fixed-footer {
  padding: 50px;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic {
    text-align: center;
}

.profile-userpic img {
  width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.9);
    border: 5px solid #f8f8f8;
}

.profile-userpic .profile-pic {
  position: relative;
  display: inline-block;
}

.profile-userpic .profile-pic:hover .edit, .profile-userpic .profile-pic:focus .edit {
  display: block;
}

.profile-userpic .edit {
  padding-top: 7px; 
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.profile-userpic .edit a {
  /*color: #000;*/
}

.cover-userpic .profile-pic {
  position: relative;
  display: inline-block;
}

.cover-userpic .profile-pic:hover .edit, .profile-userpic .profile-pic:focus .edit {
  display: block;
}

.cover-userpic .edit {
  padding-top: 7px; 
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.cover-userpic .edit a {
  /*color: #000;*/
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li ul li {
  border-bottom: 1px solid #f0f4f7;
  list-style: none;
  padding: 10px 0px;
}

.profile-usermenu ul li ul li a{
  text-decoration: none;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #27C3ED;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #0F97B7;
  background-color: #f6f9fb;
  border-left: 2px solid #0F97B7;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.social {
    padding: 5px;
    text-align: center;
}

.social .btn{ border-radius: 50%; border: 1px solid #0F97B7; color: #0F97B7; width:32px; height:32px; line-height:18px;  }

footer {
  /*margin-top: 30px;*/
  background: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  /*font-size: 12px;*/
  /*border-bottom: 3px solid #0F97B7;*/
}

.navbar-default .navbar-nav>li>a {
  color: #27C3ED;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0F97B7;
  /*border-bottom: 2px solid #0F97B7;*/
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #27C3ED;
  background-color: #f8f8f8;
  border-bottom: 2px solid #27C3ED;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #0F97B7;
  background-color: #f8f8f8;
  border-bottom: 2px solid #0F97B7;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #27C3ED;
  white-space: nowrap;
}

.dropdown-menu>li>a:hover {
  color: #0F97B7;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #555;
    text-decoration: none;
    background-color: #e7e7e7;
    outline: 0;
}

/*@media (max-width: 767px) {
  navbar.less:475
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
  }
}*/

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #27C3ED;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #0F97B7;
  }
  .padding-fixed-footer {
    padding: 120px;
  }
}

a {
  color: #27C3ED;
}

a:hover {
  color: #0F97B7;
  text-decoration: none;
}

.progress-bar {
  background-color: #27C3ED;
}

.btn-primary {
    color: #fff;
    background-color: #27C3ED;
    border-color: #27C3ED;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0F97B7;
    border-color: #0F97B7;
}

h3 {
  margin: 0px;
  padding: 0px;
  /*color: #EEE82D;*/
}

.panel-body form .nav {
  margin-bottom: 20px;
}

label {
  color: #555;
  font-size: 12px;
}

div.required .control-label:not(span):before, td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin-left: 4px;
}

.flex-control-paging {
  display: none;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #27C3ED;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #27C3ED;
    border-color: #27C3ED;
}

.thumbnail {
  border-radius: 0px;
}

/*.detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}*/
.detailBox {
    width:100%;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    min-height:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:40px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.tooltip-inner {
  background: #eee;
  padding: 5px 5px;
  z-index: 20;
  opacity: 1;
  color: #333;
}

.nav-pills > li > a {
    border-radius: 0px;
}

#block-loader {
  /*position: absolute;*/
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background: #010100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.2);
}
.myloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1e91cf;
  width: 100px;
  height: 100px;
  margin: 15% auto;
  opacity: 10;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
